<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(255, 255, 255);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <!-- string interpolation using doubble {{value}} -->
</nav>


<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">sign up</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="registerForm">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="uname" formControlName="uname" type="text" class="form-control"
                            placeholder="username" id="login_accno" required>
                    </div>
                    <div *ngIf="this.registerForm.get('uname')?.touched&&this.registerForm.get('uname')?.errors"
                        style="color:red;">invalid Username</div>
                    <div class="input-group-prepend">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="acno" formControlName="acno" type="text" class="form-control"
                            placeholder="account number" id="login_accno" required>
                    </div>
                    <div *ngIf="this.registerForm.get('acno')?.touched&&this.registerForm.get('acno')?.errors"
                        style="color:red;">invalid Acno</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="pass" formControlName="pass" type="password" class="form-control"
                            placeholder="password" id="login_password" required>
                    </div>
                    <div *ngIf="this.registerForm.get('pass')?.touched&&this.registerForm.get('pass')?.errors"
                        style="color:red;">invalid password</div>
                    <div class="form-group">
                        <input (click)="register()" type="submit" value="register" class="btn float-right login_btn "
                            style="width:50%">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>